html,body{
	margin: 0px;
	height: 100%;
	font-family: "open sans",arial,sans-serif;
	scroll-behavior: smooth;
}


#top-nav{
	background: #2F506C;
	width: 100%; 
	height: 50px;
	padding: 5px 0px 5px 10%;
	margin: 0px;
	display: inline-flex;
	list-style: none;
}

.fa {   
  text-align: center;  
  border-radius: 50%;
  padding-top: 6px;
  margin: 4px 8px;  
  font-size: 20px;  
  width: 32px; 
  height: 32px; 
  background: #27435A;
  color: slategrey ;

}  

#top-nav .fa:hover {
	transition-duration: 0.2s;
	background: #55ACEE;
	color: white;
	text-decoration: none;

}

#logo{
	margin:0px 0px 20px 10%;
	float: left;
}

#hlinks li{
	font: 11px "open sans",arial,sans-serif;
	color: #777777;
	list-style: none;
	border-right: solid 1px #27435A;
	display: inline-block;
	float: right;
	padding: 0px 8px;

}

#hlinks{
	margin:2em 10% 2em 0px;
}

#hcons{
	float: right;
	display: inline-block;
	margin: 10px 10% 0px 0px;
	font-size: 12px;
}

#hcons .fa{
	background: white;
	font-size: 20px ;
	margin:0px;
}

#hcons .fa-envelope{
	margin-left: 20px;
}


#main-nav #list > li{
	list-style: none;
	height: 50px;
	padding: 15px 0.7%;
	position: relative;
	display: inline-block;
	font-family: "open sans",arial,sans-serif;
	font-size: 13px;
}

#main-nav #list{
	display: inline-block;
	background: #6091ba;
	margin: 10px 0px;
	padding: 0px 10%;
	width: 100%;
	height: auto;
	color: white;
	font-size: 15px;
}

#main-nav #list > li:hover{
	background: #4678a1;
	transition-duration: 0.5s;
}

#list .fa{
	background: none;
	padding: 4px 0px 0px 0px;
	margin: 0px;
	color: white;
	float: right;
	width: 20px;
	font-size: 12px;
}
.dropdown:hover .dropdown-content{
	transition-duration: 0.5s;
	display: block;
	z-index: 1;
}
.dropdown-content{
	display: none;
	position: absolute;
	background: #4678a1;
	margin: 14px 0px 0px 0px;
	padding: 0px;
	left: 0;
} 

.dropdown-content a{
	text-decoration: none;
	color: white;
}

.dropdown-content li{
	list-style: none;
	height: 40px;
	width: 200px;
	font-size: 15px;
	border-bottom: 1px solid rgba(32,82,123,0.5);
	padding: 8px 20px;
	transition: all 0.4s ease-in-out;
}

.dropdown-content li:hover{
	background: #20527B;
	padding-left: 25px;

}

.btn-nav{
	display: none;
}

.wrapper a{
	text-decoration: none;
	color: #6091ba;

}

.wrapper a:hover{
	color: #20527B;
	transition-duration: 0.5s;
}

.wrapper{
	margin: 0px 10%;
}

section{
	background: rgba(169,168,168,0.15);
	margin: 25px 0px;
}

.sec1 p{
	font-size: 18px;
	font-weight: bold;
	padding: 30px;
	border-left: 5px solid #6091ba;
}

.sec1 p>span{
	font-size: 1.5em;
	font-weight: normal;
}

.sec1 p > #span{
	color: #6091ba;
	font-size: 1em;
	font-weight: bold;
}

section .h{
	border-top: 2px solid #6091ba;
	width: fit-content;
	padding: 10px 15px;
	font-size: 22px;
	color: #2f506c;
	margin-bottom: 5px;
}

.wrapper section .no-border{
	border-top: 0px solid #fff;
}

.sec-content{
	font-size: 13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:  1.42857143; 
	padding: 0px 15px;
	padding-bottom: 10px;
	text-align: justify;
}

.top-btn{
	position: fixed;
	height: 35px;
	width:35px;
	bottom: 10px;
	right: 10px;
	background: #84aac9;
	border-radius: 5px;
}

.top-btn > button{
	outline: none;
}

.top-btn:hover{
	background: #6091ba;
}

.top-btn .fa{
	background: none;
	font-size: 18px;
	height: 35px;
	width:35px;
	color: white;
	border: none;
	align-content: center;
	margin:0px;
	padding: 0px;
}

.grid-content{
	/*display: inline-grid;*/
	list-style: none;
	margin: 0px;
	gap: 5%;
	padding: 0px 20px 0px 10%;
}


.sub-h{
	margin-bottom: 10px;
	font-size: 1.2em;
	padding-left: 15px;
}
 

.sec-content .fa{
	background: none;
	border:none;
	font-size: 14px;
	padding: 0px 2px 0px 0px;
	margin: 0px;
	height: 15px;
	width: 15px;
}

.container-fluid{
	padding: 0px;
}

.container-fluid .row{
	display: flex;
	margin: 20px 10%;
	padding: 0px;
}

.container-fluid .row .col{
	padding: 0px;
}

.container-fluid .row .col-5{
	padding: 0px 20px;
}

.container-fluid .row .col section{
	min-height: 300px;
}

.row .video-sec{
	margin: 0px 15px 15px 10px;
	height: 300px;
	width: -webkit-fill-available;
}



#footer1{
	background-color: rgba(0,0,0,0.7);
	padding: 40px 10%;
	margin-bottom: 0px;
}

#foot-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 8%;
	color: rgba(255,255,255,0.8);
	font-size: 12px;

}

#foot-grid li{
	list-style: none;
}

#footer1 ul{
	padding: 0px;
	margin: 0px;
	line-height: 25px;
}

#foot-grid .fa{
	background: none;
	border:none;
	color: grey;
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	height: 10px;
	width: 10px;

}

#f-cons .fa{
	font-size: 15px;
	padding-right: 5px;
	height: 20px;
	width: 20px;
}

#footer2{
	background-color: rgba(0,0,0,0.8);
	margin-top: 0px;
	height: 50px;
	width: 100%;
	font-size: 11.7px;
	color: rgba(255,255,255,0.8);
	padding: 17px 10%;
	font-weight: bold;
}

#footer2 p{
	float: left;
}

#footer2 .fa{
	padding: 0px;
	margin: 0px;
	height: 18px;
	background: none;
	border: 0px;
	color: lightgrey;
	float: right;
	font-size: 18px;
}

#footer2 ul{
	float: right;
}

@media only screen and (max-width: 950px){

	#top-nav{
		display: none;
	}

	#logo, #hlinks, #hcons{
		display: flex;
		justify-content: center;
		width: max-content;
		padding: 0px;
		float: none;
		margin: 10px auto;		
	}

	header .fa{
		padding: 0px;
	}

	.container-fluid .row{
		display: block;
	}

	.container-fluid .row section{
		width: 100%;
		min-height: 250px;
	}

	.container-fluid .row .col-6{
		min-width: 100%;
		flex: 0 0 100%;
		margin: 10px 0px;
		padding: 0px;
	}

	
	#footer1{
		padding: 40px 5%;
	}

}

@media  only screen and (max-width: 1050px){
	.grid-content{
		width: 100%;
		display: block;
	}

	.grid-content .col{
		padding-bottom: 10px;
	}

	.grid-content .sub-h{
		margin-bottom: 2px;
	}

	#footer1 #foot-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-around;
	}

	
}

.btn-bar{
	border-top: 30px solid grey;
	border-width: 2px;
	height: 6px;
	margin: 0px;
}

.btn-nav button:hover{
	background-color: lightgrey;
}

@media only screen and (max-width: 730px){

	#main-nav{
		display: none;
	}

	.btn-nav{
		display: block;
		height: 40px;
		width: 100%;
		background-color: #6091ba;
		padding: 5px 10%;
	}

	.btn-nav button{
		float: right;
		padding-top: 5px;
		height: 30px;
		width: 35px;
		border: 1px solid white;
		outline: none;
		background-color: #2F506C;
		text-decoration: none;
	}

	#footer2{
		height: 80px;
		padding: 10px;
	}

	#footer2 p, #footer2 ul{
		display: flex;
		float: none;
		width: fit-content;
		margin: 10px auto;
		padding: 0px;
}

@media only screen and (max-width: 415px){

	#footer1 #foot-grid{
		display: block;
		margin: 0px 20%;

	}

	#footer1 #foot-grid > li{
		padding-bottom: 30px;
	}

	#footer1{
		padding-bottom: 0px;
	}
}